# Application Configuration
NODE_ENV=development
PORT=3000
API_PREFIX=api
APP_NAME=codebase-nestjs

# CORS
CORS_ORIGINS=http://localhost:3001,http://localhost:3002

# Database Configuration
DATABASE_URL=mongodb://localhost:27017
DATABASE_NAME=codebase_nestjs

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-here
JWT_EXPIRES_IN=1d

# Logging Configuration
LOG_LEVEL=info
ENABLE_MANUAL_LOGS=true
ENABLE_AUTOMATIC_LOGS=true
LOG_TO_FILE=true
LOG_TO_DATABASE=false
MASK_SENSITIVE_DATA=true
LOG_DATABASE_COLLECTION=application_logs
